<div id="<%= dom_id crypto_price %>">
  <p>
    <strong>Price:</strong>
    <%= crypto_price.price %>
  </p>

  <p>
    <strong>Cryptocurrency:</strong>
    <%= crypto_price.Cryptocurrency_id %>
  </p>

  <p>
    <strong>Captured at:</strong>
    <%= crypto_price.captured_at %>
  </p>

</div>
