<h1>Editing crypto price</h1>

<%= render "form", crypto_price: @crypto_price %>

<br>

<div>
  <%= link_to "Show this crypto price", @crypto_price %> |
  <%= link_to "Back to crypto prices", crypto_prices_path %>
</div>
