<p style="color: green"><%= notice %></p>

<h1>Crypto prices</h1>

<div id="crypto_prices">
  <% @crypto_prices.each do |crypto_price| %>
    <%= render crypto_price %>
    <p>
      <%= link_to "Show this crypto price", crypto_price %>
    </p>
  <% end %>
</div>

<%= link_to "New crypto price", new_crypto_price_path %>
