<div id="<%= dom_id cryptocurrency %>">
  <p>
    <strong>Name:</strong>
    <%= cryptocurrency.name %>
  </p>

  <p>
    <strong>Started at:</strong>
    <%= cryptocurrency.started_at %>
  </p>

</div>
