<h1>Editing cryptocurrency</h1>

<%= render "form", cryptocurrency: @cryptocurrency %>

<br>

<div>
  <%= link_to "Show this cryptocurrency", @cryptocurrency %> |
  <%= link_to "Back to cryptocurrencies", cryptocurrencies_path %>
</div>
